.title-castle {
  background-color: white;
  margin: 40px;
}
.lock {
  color: rgb(9, 0, 128);
  width: 50px;
  height: 50px;
}
.unlock {
  color: red;
  width: 50px;
  height: 50px;
}
.group {
  color: rgb(25, 230, 25);
  width: 50px;
  height: 50px;
}
.number h3 {
  font-size: 30px;
}
.difficulty h1,
.player h1,
.time h1 {
  font-size: 2rem;
  color: rgb(10, 173, 173);
}
.clock {
  color: rgb(7, 95, 7);
  width: 50px;
  height: 50px;
}
.lock-items {
  margin-bottom: 9rem !important;
}
.level {
  margin-bottom: 13rem !important;
}
.phone {
  color: rgb(25, 230, 25);
  width: 30px;
  height: 30px;
}
.mail {
  color: rgb(25, 230, 25);
  width: 30px;
  height: 30px;
}
.minute {
  margin-bottom: 3rem;
}
.contact-information {
  margin-bottom: 16rem !important;
}
.button {
  width: 12rem;
  border-radius: 20px;
}
/* .calender {
  overflow-y: scroll;
  height: 613px;
} */
.time-clock {
  margin-bottom: 5rem !important;
}
.castle-button {
  margin-top: 4rem !important;
}
.difficulty-stage {
  height: 100%;
}
@media screen and (max-width: 510px) {
  .lock-items {
    margin-bottom: 4rem !important;
  }
  .level {
    margin-bottom: 6rem !important;
  }
  .time-clock {
    margin-bottom: 0 !important;
  }
  .castle-button {
    margin-top: 0 !important;
  }
  .contact-information {
    margin: 0 !important;
  }
  .difficulty-stage {
    height: auto;
  }
}
