.navbar.bg-transparent {
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 15px 10px;
}

.navbar.bg-dark-theme {
  background: linear-gradient(to left, #0d1013, #5f5f5f);
  padding: 25px 10px;
}

.dropdown-menu.bg-dark-theme {
  background: linear-gradient(to left, #0d1013, #5f5f5f);
}

.navbar {
  transition: all 0.5s ease;
}

.navbar .navbar-collapse ul li a {
  color: white;
}

.navbar-nav li.nav-item {
  margin: 0 10px;
}
.dropdown-item:focus,
.dropdown-item:hover {
  text-decoration: none;
  background-color: #287cff;
}
.dropdown-menu {
  min-width: 11rem !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
