.footer {
  color: #10b9e7;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/exit.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.footer h1 {
  font-size: 4rem;
  color: white;
}
.footer-logo img {
  width: 20rem;
}
.footer-text {
  color: #007bff !important;
}

@media screen and (max-width: 550px) {
  .footer h1 {
    font-size: 2rem;
  }
  .footer-logo img {
    width: 15rem;
  }
  .links h2 {
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
  }
  .address h2 {
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
  }
}
