.todo-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(./assets/escape_room.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.todo-bg h1 {
  color: rgb(200, 185, 214) !important;
  padding-top: 5rem;
  padding-bottom: 50rem;
  padding-left: 10rem;
  font-size: 4rem;
}
.description p {
  font-size: 20px;
}
